.Container {
  display: grid;
  grid-template-columns: 25% 37.5% 37.5%;
  background-color: rgba(255, 255, 255, 255);
  padding: 10px;
}

.Item1 {
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 255);
  background-color: rgba(183, 36, 36, 1);
}
.Item2 {
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 255);
  background-color: rgba(217, 203, 2, 1);
}
.Item3 {
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 255);
  background-color: rgba(57, 75, 87, 1);
}

.Container-Column-Selector {
  background-color: rgba(57, 75, 87, 1);
  border: 1px solid rgba(255, 255, 255, 255);
  padding: 20px;
  grid-column: 1 / 2;
  text-align: center;
}

.Container-Column-Show {
  background-color: rgba(57, 75, 87, 1);
  border: 1px solid rgba(255, 255, 255, 255);
  padding: 20px;
  grid-column: 2 / 4;
  text-align: center;
}
.Container-Item {
  background-color: rgba(57, 75, 87, 1);
  border: 1px solid rgba(255, 255, 255, 255);
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.Show-Header {
  background-color: rgba(57, 75, 87, 1);
  border: 1px solid rgba(255, 255, 255, 255);
  grid-row: 1;
  grid-column: 1/4;
}

.Show-Left-Container {
  background-color: rgba(57, 75, 87, 1);
  border: 1px solid rgba(255, 255, 255, 255);
  grid-row: 2 / 4;
  grid-column: 1/3;
  text-align: center;
  padding: 30px;
}

.Show-Right-Container {
  background-color: rgba(57, 75, 87, 1);
  border: 1px solid rgba(255, 255, 255, 255);
  grid-row: 2 / 4;
  grid-column: 3/4;
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
}

.dropzone-grid {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

.dropzone {
  margin-top: 50px;
  width: 100%;
  height: 500px;
  border: 2px dashed;
  align-items: center;
  grid-column: 2;
}

.Show-Geno-Summary {
  background-color: rgba(57, 75, 87, 1);
  border: 1px solid rgba(255, 255, 255, 255);
  grid-row: 2;
  padding: 10px;
}

.Show-Rsid-Info {
  background-color: rgba(57, 75, 87, 1);
  border: 1px solid rgba(255, 255, 255, 255);
  grid-row: 1;
  padding: 10px;
}

.varGrid {
  grid-template-columns: auto;
}

.varComponent {
  display: grid;
  height: 50px;
  grid-template-columns: 15% 15% 70%;
  justify-items: center;
  align-items: center;
}
.varGenotype {
  grid-column: 1;
  justify-self: center;
}
.varMagnitude {
  grid-column: 2;
}
.varSummary {
  grid-column: 3;
}

.Article {
  padding: 10px;
}

.ring {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
